<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="js" lang="en-US"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="../../">
	<title>uSchedule</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="assets/libs/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/navbar.css">
	<link rel="stylesheet" href="assets/css/uSchedule.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- FONTS -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext"
		  rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900" rel="stylesheet" type="text/css">
	<link rel='shortcut icon' href='./favicon.ico' />
</head>
<body>

<!-- START SITE HEADER -->
<header class="site-header">
  <!-- START NAVIGATION -->
  <nav id="navigation" class="navigation site-nav">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a href="components/uSchedule/uSchedule.html" class="navbar-brand">	
		<h2 class="uHomeTitle">uSchedule</h2>
		<div class="title-overlay gradient-overlay background-black opacity-20"></div>
	  </a>
	</div>
	<div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar">
	  <ul class="nav navbar-nav">
		<li><a href="components/uSchedule/uSchedule.html">Calendar</a></li>
		<li><a href="components/list/list.html">List</a></li>
	  </ul>
	</div>
  </nav>
  <!-- END NAVIGATION -->
</header>
<!-- END SITE HEADER -->
<div class="marginTop"></div>

<!-- FEATURES SECTION -->
<div class="section cover-background image-world-hand fp-section fp-table" id="marginTop">
  <div class="fp-tableCell">
	<!-- START CONTAINER -->
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
			<!-- CONTENT SECTION -->
			<div ng-app="sortableApp" ng-controller="sortableController" class="container">
			  <h2>ui.sortable connected lists</h2>

			  <div class="floatleft">
				<div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="list1">
				  <div class="app" ng-repeat="app in list1">{{$index}} {{app.title}}</div>
				</div>
				<div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="list2">
				  <div class="app" ng-repeat="app in list2">{{$index}} {{app.title}}</div>
				</div>
				<div style="clear: both;"></div>
			  </div>

			  <div class="floatright">
				<button type="button" ng-click="logModels()">Log Models</button>
				<ul class="list logList">
				  <li ng-repeat="entry in sortingLog" class="logItem">
					{{entry}}
				  </li>
				</ul>
			  </div>
			  
			  <div class="clear"></div>

			  
			</div>

			<!-- END CONTENT SECTION -->
		</div>
	  </div>
	  <!-- END ROW -->
	</div>
	<!-- END CONTAINER -->
	<!-- OVERLAY -->
	<div class="overlay">
	  <div class="gradient-overlay background-blue-dark opacity-10"></div>
	</div>
  </div>
</div>

<!-- START FOOTER -->
<footer id="social" class="site-footer">
	<p class="copyright"><span class="glyphicon glyphicon-copyright-mark"></span> 2015 uSchedule - All Rights Reserved</p>
</footer>
<!-- END FOOTER -->

<script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
<script src="http://code.angularjs.org/1.2.28/angular-route.js"></script>

<script src="assets/libs/bootstrap/bootstrap.min.js"></script>



</body>
</html>